* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body, html {
  font-family: 'Rubik', sans-serif;
  height: 100%;
}
.phone {
  max-width: 375px;
  background: white;
  padding: 10px;
  border-radius: 30px;
  position: relative;
  box-shadow: -6px 3px 18px -9px rgba(0,0,0,0.75);
}
.phone::before {
  content: '';
  position: absolute;
  background-color: white;
  width: 50%;
  height: 25px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
}

.profile {
  background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 35px 10px 15px 10px;
  align-items: center;
  border-radius: 30px 30px 5px 5px;
}
.fa-chevron-left, .fa-ellipsis-v {
  width: 10%;
  color: white;
}
.img-name {
  display: flex;
  align-items: center;
}
.img-name img{
  width: 20%;
  border-radius: 60%;
  border: 3px solid white;
  margin-right: 4%;
}

.profile-name {
  color: white;
}

.profile-name h2{
  font-size: 14pt;
}
.profile-name span {
  font-size: 10pt;
  font-weight: lighter;
}
.chat {
  background: hsl(270, 20%, 96%);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0 0 30px 30px;
}
.boxes-left {
  width: 63%;
  background: red;
  font-size: 10pt;
  padding: 7px;
  margin: 0px 10px 10px 10px;
  background: hsl(270, 14%, 89%);
  color: hsl(276, 55%, 52%);
  border-radius: 15px 15px 15px 3px;
  box-shadow: 10px 10px 18px -19px rgba(0,0,0,0.55);
}
.boxes-left p {
  width: 90%;
  margin-left: 5%;
}
.images-dog {
  display: flex;
  margin-top: 23px;
  justify-content: flex-end;
}

.images-dog img{
  width: 20%;
  margin: 1%;
  border-radius: 15px;
}

.boxes-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.boxes-right p {
  width: 63%;
  font-size: 10pt;
  padding: 10px;
  margin: 1%;
  margin-right: 2%;
  background: white;
  color: hsl(271, 15%, 43%);
  border-radius: 15px 15px 3px 15px;
  box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.55);

}
.box-4 p{
  width: 40%;
  justify-content: flex-end;
}
.circle {
  border-radius: 50%;
  border: 1px solid white;
  width: 17px;
  height: 17px;
}
.select {
  width: 75%;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to left, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  padding: 15px;
  margin: 10px;
  border-radius: 15px 15px 15px 3px;
  color: white;
}

.select span {
  width: 70%;
  font-size: 11pt;
  font-weight: lighter;
  align-self: flex-end;
}

.type-box {
  background: white;
  margin: 10px;
  display: flex;
  height: 50px;
  box-shadow: 10px 10px 18px -12px rgba(0,0,0,0.55);
  border-radius: 25px;
  color: hsl(206, 6%, 79%);
  font-size: 11pt;
  font-weight: 400;
  justify-content: flex-end;

}
.type-box p{
  padding: 10px;
  width: 80%;
  align-self: center;
}
.type-box .fa-chevron-right {
  background: hsl(271, 36%, 24%);
  width: 40px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  margin-right: 7px;
  font-size: 14pt;
}

.right-side {
  width: 40%;
  height: 150px;
}
.right-side h1{
  font-size: 28pt;
  letter-spacing: 2px;
  font-weight: 500;
  color: hsl(271, 36%, 24%);
  margin-bottom: 25px;
}
.right-side p {
  color: hsl(270, 7%, 64%);
  line-height: 25px;
  width: 80%;
}
#odog {
  margin-right: 2%;
}
.phone-wrap{
  padding: 3% 10% 2% 10%;
}
.all {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
} 

svg {
  position: absolute;
  top: 0;
  left: -45%;
  z-index: -1;
  transform: rotate(90deg) scale(0.67);
  fill: hsl(264, 100%, 61%);
}

@media screen and (max-width: 655px) {
  .phone {
    width: 100%;
    margin: 0;
  }
  .right-side {
    width: 100%;
    height: 300px;
    text-align: center;
  }
  .right-side h1{
    font-size: 28pt;
    letter-spacing: 2px;
    font-weight: 500;
    color: hsl(271, 36%, 24%);
    margin-bottom: 25px;
  }
  .right-side p {
    color: hsl(270, 7%, 64%);
    line-height: 25px;
    width: 100%;
    padding: 0 25px 25px 25px;
  }
  .images-dog img{
    width: 70px;
    margin: 1%;
    height: 70px;
    border-radius: 15px;
  }
}